<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= params[:action].camelize %> Product</h3>
      </div>
      <div class="panel-body">
        <%= form_for(@product_type) do |f| %>
            <% if @product_type.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@product_type.errors.count, "error") %> prohibited this product_type from being saved:</h2>

                  <ul>
                    <% @product_type.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class="field">
              <%= f.label :product_name %>
              <%= f.text_field :name %>
            </div>
            <br/>
            <div class="actions">
              <%= f.submit :class=>"btn btn-info"%>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>