<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Customer Detail</h3>
      </div>
      <div class="panel-body">
        <div class="text-right"> <%= link_to 'Edit', edit_product_path(@product),:class=>"btn btn-info"  %> |
          <%= link_to 'Back', products_path,:class=>"btn btn-info"  %>
        </div>
        <br/>
        <p id="notice"><%= notice %></p>
        <table class="table table-responsive">
        <tr>
          <td width="30%">Company Name</td>
          <td><%= @product.company.company_name %></td>
        </tr>
        <tr>
          <td>Type</td>
          <td><%= get_product_type_name(@product.product_type_id).name%></td>
        </tr>
        <tr>
          <td>Box code</td>
          <td><%= @product.box_code %></td>
        </tr>
        </table>
      </div>
    </div>
  </div>
</div>




